<form #registerForm="ngForm" (submit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">SignUp</h2>
  <hr />
  <div class="mb-3 form-floating">
    <input
      type="text"
      name="username"
      placeholder="Username"
      class="form-control"
      [(ngModel)]="model.username"
    />
    <label>Username</label>
  </div>

  <div class="mb-3 form-floating">
    <input
      type="password"
      name="password"
      placeholder="Password"
      class="form-control"
      [(ngModel)]="model.password"
    />
    <label>Password</label>
  </div>

  <!-- <div class="mb-4">
    <select class="form-select">
      <option selected>Select your favourite user</option>
      @for (user of usersFromHomeComponent(); track $index) {
      <option value="{{ user.username }}">{{ user.username }}</option>
      }
    </select>
  </div> -->

  <div class="form-group">
    <button class="btn btn-success btn-md me-2" type="submit">Register</button>
    <button class="btn btn-default btn-md me-2" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
